<form
  [formGroup]="curFormGroup"
  (change)="onInputChange($event, curFormGroup)"
  (input)="onInputChange($event, curFormGroup)"
>
  <fieldset
    formGroupName="firstCur"
    name="firstCur"
    class="currency-input-fieldset"
  >
    <input
      formControlName="curNum"
      class="text-input"
      type="number"
      name="curNum"
      min="0"
    />
    <select
      formControlName="curType"
      name="curType"
      class="select-input"
      required
    >
      <option
        *ngFor="let option of service.curMap | keyvalue"
        [value]="option.key"
      >
        {{ option.key }}
      </option>
    </select>
  </fieldset>
  <fieldset
    formGroupName="secondCur"
    class="currency-input-fieldset"
    name="secondCur"
  >
    <input
      formControlName="curNum"
      class="text-input"
      type="number"
      name="curNum"
      min="0"
    />
    <select
      formControlName="curType"
      name="curType"
      class="select-input"
      required
    >
      <option
        *ngFor="let option of service.curMap | keyvalue"
        [value]="option.key"
      >
        {{ option.key }}
      </option>
    </select>
  </fieldset>
</form>
